<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-w3schools.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Roboto+Slab&display=swap">
  <title>Home</title>
</head>
<style>
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: 'Fredericka the Great', cursive
  }

  body {
    font-family: 'Roboto Slab', serif
  }
</style>

<body class="w3-light-gray">

  <div class="w3-content" style="max-width:1400px">

    <!-- Header -->
    <header class="w3-container w3-center w3-padding-32">
      <h1><b>SPRING ACADEMY</b></h1>
      <p><span class="w3-tag w3-theme-d1">Spring Boot</span> Screencasts für Java Entwickler</p>
    </header>


    <!-- Content -->
    <div class="w3-row">

      <!-- Blog entries -->
      <div class="w3-col l4 m6 s12">

        {% for post in site.posts %}

        <!-- Blog entry -->
        <div class="w3-card-4 w3-margin w3-white">
          <video width="100%" controls>
            <source src="https://springacademy.fra1.digitaloceanspaces.com/spring.academy/{{ post.video }}" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          <div class="w3-container">
            <h4><b>{{ post.title | upcase }}</b></h4>
            <p>{{ post.excerpt }}</p>
            <p><span class="w3-opacity">{{ post.date | date_to_string }}</span></p>
            <p><button class="w3-button w3-padding-large w3-white w3-border"><b>MEHR »</b></button></p>
          </div>
        </div>
        <!-- Blog entry -->

        {% endfor %}

      </div>
      <!-- Blog entries -->

    </div>
    <!-- Content -->

</body>

</html>
