<!doctype html>
<html>

{% include head.html %}

<body class="w3-light-gray">

  {% include google-tag-manager.html %}

  <div class="w3-top w3-sidenav" style="overflow:hidden;min-width:340px">
    <!-- Navigation -->
    <div class="w3-container">
      <a href="/"><button class="w3-button w3-black w3-padding-large w3-margin-bottom">« Home</button></a>
    </div>
    <div class="w3-container toc">
      <h4>Inhaltsverzeichnis</h4>
      {% include toc.html html=content %}
    </div>
  </div>

  <!-- Max width -->
  <div class="w3-content" style="max-width:960px">

    <!-- Header -->
    <header class="w3-container w3-left w3-padding-64">
      <h1><b>{{ page.title | upcase }}</b></h1>
    </header>

    <!-- Content -->
    <div class="w3-container">
      {{ content }}

      <!-- Disqus -->
      <div id="disqus_thread"></div>
      <script>
        var disqus_config = function() {
          this.page.url = '{{ page.url | absolute_url }}';
          this.page.identifier = '{{ page.url | absolute_url }}';
        };
        (function() {
          var d = document,
            s = d.createElement('script');
          s.src = 'https://springacademy.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <!-- Disqus -->

    </div>
    <!-- Content -->



  </div>
  <!-- Max width -->

  <!-- Footer -->
  {% include footer.html %}

</body>

</html>
